defaults:
  - train
  - data: eval_hvv
  - _self_

num_shots: 0
lr: 0.00001
devices: [0]
run_name: vesselfm
path_to_chkpt: /media/hvv/71672b1c-e082-495c-b560-a2dfc7d5de59/data/vesselFM/checkpoints/ckpt.pt
chkpt_folder:  /media/hvv/71672b1c-e082-495c-b560-a2dfc7d5de59/data/vesselFM/checkpoints #TODO
num_classes: 3

model:
  out_channels: ${num_classes}

dataloader:
  shuffle: False
  #changed by me
  num_workers: 4
  prefetch_factor: 2
  #added by me
  collate_fn:
    _target_: vesselfm.seg.dataset.list2batch_collate_fn
    _partial_: True

trainer:
  lightning_trainer:
    val_check_interval: 200
    max_steps: 1200
    max_epochs: 1

  lightning_module:
    _target_: vesselfm.seg.module.PLModuleFinetune
    _partial_: True
    prediction_threshold: 0.62
    batch_size: ${batch_size}
    input_size: ${input_size}

    loss:
      _target_: monai.losses.DiceCELoss
      reduction: "mean"
      squared_pred: True
      lambda_ce: 0.1
      lambda_dice: 0.9
      to_onehot_y: True
      include_background: False

    scheduler_configs:
      cosine_annealing_few:
        interval: step
        frequency: 10
        scheduler:
          _target_: torch.optim.lr_scheduler.CosineAnnealingLR
          _partial_: True
          T_max: 1000
          eta_min: 0.0000001
          last_epoch: -1

      linear_warmup: null 
      cosine_annealing: null